body {
    font-family: 'Impact';
    background-color: rgb(190,150,190);
}

a { 
    color: purple;
    
}
a:hover {
    color: white;
}

#Header {
    text-align: center;
    margin: 35px;
    font-size: 400%; 
}
#Header img {
    height: 100px;
}

hr {
    max-width: 700px;
    margin-bottom: 25px;
}

#MyName {
    margin: 0px;
}
#MainLinks {
    text-align: center;
    
}

#MainLinks img {
    height: 25px;
    
    margin: 20px;
    margin-top: 5px;
    
    opacity: 1;
}
#MainLinks img:hover {
    opacity: 0.7;
}


#Resume {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#Resume img {
    border-radius: 25px;
    margin-top: 20px;
    width: 90%;
    max-width: 480px;
    opacity: 0.7; 
    
}

#Resume img:hover {
    opacity: 1;
}

.hide {
    display: none;
}


.hoverObject {
    position: relative;
    display: inline-block;
}
.hoverObject .hoverText {
    font-size: 15px;
    font-family: 'Trebuchet MS';
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: calc(100% + 7px);
    left: 0;
    right: 0;

    opacity: 0;
    transition: opacity 0.75s;
}

.hoverObject .hoverText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.hoverObject:hover .hoverText{
    visibility: visible;
    opacity: 1;
}

#Footer {
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 70%; 
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
    opacity: 0.7;
}
