body {
    font-family: 'Monaco';
    background-image: url("./stars.png"), linear-gradient(rgba(70, 40, 100, 1), white);
    background-repeat: no-repeat;
    background-size: 105% 105%;
}

#Header {
    text-align: center;
    margin: 35px;
    font-size: 400%; 
    color:white;
    opacity: 0.9;
    cursor: cell;
}

#Header:hover {
    opacity: 1;

}

hr {
    width: 700px;
    max-width: 90%;
    margin-bottom: 25px;
}

#MainLinks {
    text-align: center;
    cursor: default;
}

#MainLinks img {
    height: 25px;
    opacity: 0.7;
    filter: invert(100%);
}

#MainLinks a {
    margin: 20px;
    margin-bottom: 20px;
    margin-top: 5px;
}

#MainLinks img:hover {
    opacity: 1;
    cursor: pointer;
}

#Resume {
    text-align: center;
}

#Resume img {
    border-radius: 25px;
    margin-top: 10px;
    width: 470px;
    max-width: 90%;
    
    opacity: 0.9; 
    box-shadow: 2px 2px 10px #222;
}

#Resume img:hover {
    opacity: 1;
    box-shadow: 5px 5px 30px #222;
}

.hoverObject {
    position: relative;
    display: inline-block;
}

#Footer {
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 70%; 
    text-align: center;
    margin-bottom: 10px;
    margin-top: 50px;
    opacity: 0.7;
}

#Footer a { 
    color: black; 
}

#Footer a:hover {
    color: white;
}


